html {
    height: 100%;
    font-family: sans-serif;

    --color-shadow: #333;
    --color-light-shadow: #EEE;
    --color-bright: rgb(255, 196, 0);
    --color-alternate-bright: rgb(209, 0, 0);
}

body {
    min-height: 100%;
    font-size: 14px;
    display: grid;
    grid-template:  "head" 8rem
                    "head-divider" 2rem
                    "main" 1fr
                    "foot" 4rem / 1fr;
    margin: 0;
    overflow-x: hidden;
}

header, footer, main section:not(#spotlight) {
    padding: 0 2rem;
}

@media(min-width: 72rem) {
    header, footer, main section:not(#spotlight) {
        padding: 0 10%;
    }

    main #spotlight div { 
        right: 10%;
    }
}

header {
    display: flex;
    position: relative;
    grid-area: head;
    background-color: var(--color-shadow);
    overflow: visible;
    color: #fff;
    transform: rotate(-1deg);
    margin: -2rem;
    z-index: 10;
}

header h1 {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    font-size: 2.4rem;
    padding: 0 0 0 2rem;
}

header a {
    color: #fff;
    text-decoration: none;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: flex;
    margin: 0 0.25rem;
}

nav ul li a {
    display: flex;
    align-items: flex-end;
    padding: 0 1rem 1rem 1rem;
    font-size: 1.6rem;
    border-bottom: 4px solid transparent;
}

nav ul li a:hover {
    border-bottom: 4px solid #fff;
    background-color: #444;
    transition: background 500ms;
}

h1 small {
    font-weight: normal;
}

#head-divider {
    grid-area: head-divider;
    background: linear-gradient(to right, var(--color-bright) 0%, var(--color-alternate-bright) 100%);
    transform: rotate(1deg);
    min-height: 6rem;
    margin: -3vw;
    z-index: 5;
}

main {
    position: relative;
    grid-area: main;
}

main section {
    margin: 4rem 0;
}

#spotlight {
    position: relative;
    height: 80vh;
    margin: -2rem;
    transform: rotate(-2deg);
    overflow: hidden;
}

#spotlight img {
    object-fit: cover;
    min-width: 100%;
    max-height: 100%;
    margin-top: 3rem;
    transform: rotate(2deg);
}

#spotlight div {
    font-size: 1.1rem;
    position: absolute;
    bottom: 0;
    right: 4rem;
    height: 12.5rem;
    width: 25rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.7);
}

#spotlight div h3 {
    padding: 0;
    margin: 0;
}

#spotlight div a {
    color: #000;
    font-weight: bold;
}

#spotlight div a:before {
    content: ">";
    margin-right: 0.5rem;
}

#spotlight + section {
    margin-top: 7rem;
}

footer {
    display: flex;
    align-items: center;
    color: #fff;
    grid-area: foot;
    background-color: var(--color-shadow);
}

a {
    text-decoration: none;
}

h2 {
    font-size: 2rem;
    color: var(--color-shadow);
}

h3 {
    font-size: 1.4rem;
}

h2:after {
}