html {
    height: 100%;
    font-family: sans-serif;

    --color-shadow: #333;
    --color-light-shadow: #EEE;
    --color-bright: rgb(255, 196, 0);
    --color-alternate-bright: rgb(209, 0, 0);
}

body {
    min-height: 100%;
    font-size: 14px;
    display: grid;
    grid-template:  "head" 10rem
                    "head-divider" minmax(3rem, 4rem)
                    "main" 1fr
                    "foot" 4rem / 1fr;
    margin: 0;
    overflow-x: hidden;
}

header, footer {
    padding: 0 2rem;
}

@media(min-width: 72rem) {
    header, footer {
        padding: 0 10%;
    }
}

header {
    display: flex;
    position: relative;
    grid-area: head;
    background-color: var(--color-shadow);
    overflow: visible;
    color: #fff;
    transform: rotate(-1deg);
    margin: -2vw;
    z-index: 10;
}

header h1 {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 1.8rem;
    padding-left: 2rem;
}

header a {
    color: #fff;
    text-decoration: none;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: flex;
    margin: 0 0.25rem;
}

nav ul li a {
    display: flex;
    align-items: flex-end;
    padding: 0 1rem 1rem 1rem;
    font-size: 1.2rem;
    border-bottom: 4px solid transparent;
}

nav ul li a:hover {
    border-bottom: 4px solid #fff;
    background-color: #444;
    transition: background 500ms;
}

h1 small {
    font-weight: normal;
}

#head-divider {
    grid-area: head-divider;
    background: linear-gradient(to right, var(--color-bright) 0%, var(--color-alternate-bright) 100%);
    transform: rotate(2deg);
    margin: -2vw;
    z-index: 5;
}

#head-divider svg {
    width: 100%;
    height: 2rem;
    margin-bottom: -1px;
}

#head-divider-bottom {
    fill: var(--color-light-shadow);
}

main {
    position: relative;
    grid-area: main;
}

#spotlight {
    position: relative;
    background-color: var(--color-light-shadow);
    height: 40rem;
    margin-bottom: 6rem;
}

#spotlight svg {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 6rem;
}

#spotlight-divider {
    fill: var(--color-light-shadow);
}

footer {
    grid-area: foot;
    background-color: var(--color-shadow);
}

svg {
    z-index: 100;
}